extends layout

block content
	div(class='portraits-grid container-fluid')
		div(class='row')
			div(class='portrait-card col-md-4')
				div(class='front')
					img(src='images/portraits/jackie.jpg')
				div(class='profile-card back')
					h1 Jackie
					p Test
			div(class='portrait-card col-md-4')
				div(class='front')
					img(src='images/portraits/pc.jpg')
				div(class='profile-card back')
					h1= title
					p Welcome to #{title}
			div(class='portrait-card col-md-4')
				div(class='front')
					img(src='images/portraits/steph.jpg')
				div(class='profile-card back')
					h1= title
					p Welcome to #{title}
		div(class='row')
			div(class='portrait-card col-md-4')
				div(class='front')
					img(src='images/portraits/larry.jpg')
				div(class='profile-card back')
					h1= title
					p Welcome to #{title}
			div(class='portrait-card col-md-4')
				div(class='front')
					img(src='images/portraits/jessica.jpg')
				div(class='profile-card back')
					h1= title
					p Welcome to #{title}
			div(class='portrait-card col-md-4')
				div(class='front')
					img(src='images/portraits/randy.jpg')
				div(class='profile-card back')
					h1= title
					p Welcome to #{title}
		div(class='row')
			div(class='portrait-card col-md-4')
				div(class='front')
					img(src='images/portraits/eddie.jpg')
				div(class='profile-card back')
					h1= title
					p Welcome to #{title}
			div(class='portrait-card col-md-4')
				div(class='front')
					img(src='images/portraits/meka.jpg')
				div(class='profile-card back')
					h1= title
					p Welcome to #{title}
			div(class='portrait-card col-md-4')
				div(class='front')
					img(src='images/portraits/mohammed.jpg')
				div(class='profile-card back')
					h1= title
					p Welcome to #{title}	
		div(class='row')
			div(class='portrait-card col-md-4')
				div(class='front')
					img(src='images/portraits/mfon.jpg')
				div(class='profile-card back')
					h1= title
					p Welcome to #{title}
			div(class='portrait-card col-md-4')
				div(class='front')
					img(src='images/portraits/john-katt.jpg')
				div(class='profile-card back')
					h1= title
					p Welcome to #{title}
			div(class='portrait-card col-md-4')
				div(class='front')
					img(src='images/portraits/theo.jpg')
				div(class='profile-card back')
					h1= title
					p Welcome to #{title}		
		div(class='row')
			div(class='portrait-card col-md-4')
				div(class='front')
					img(src='images/portraits/dara.jpg')
				div(class='profile-card back')
					h1= title
					p Welcome to #{title}
			div(class='portrait-card col-md-4')
				div(class='front')
					img(src='images/portraits/deirdre.jpg')
				div(class='profile-card back')
					h1= title
					p Welcome to #{title}
			div(class='portrait-card col-md-4')
				div(class='front')
					img(src='images/portraits/sarah.jpg')
				div(class='profile-card back')
					h1= title
					p Welcome to #{title}		
